*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 10, 32);
}

.music-card{
    width: 25rem;
    height: 38rem;
    box-shadow: 0 0 100px white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 25rem 5rem 4rem 4rem;
}

.music-card-image{
    margin: 2rem;
}

.music-card-image > img{
    height: 21rem;
    border-radius: 10px;
}

.music-title{
    color: white;
    text-align: center;
    margin-top: 1.4rem;
}

.progress-bar{
    display: grid;
    grid-template-columns: 4rem 13rem 4rem;
    margin: 1rem 2rem 1rem 2rem;
    color: white;
    text-align: center;
}

.progress-bar > p{
    margin-top: 0.4rem;
}

.control-bar{
    display: grid;
    grid-template-columns: 3rem 3.5rem 8rem 3.5rem 3rem;
    margin: 1rem 2rem 1rem 2rem;
    text-align: center;
}

.control-bar > button{
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    width: 2rem;
    background: transparent;
    color: white;
    font-weight: bold;
}

.control-bar > button > i{
    color: white;
    padding-top: 0.3rem;
    font-size: 1.4rem;
}